body {
  border-top:2px solid $primary-color;
}

img {
  &.medium {
    width:80px;
  }

  &.circle {
    border-radius: 100%;
  }
}

.photo-area {
  overflow: hidden;
}

@media screen and (max-width: 640px) {
  .callout.large.header {
    padding: 3rem 1rem 0;
  }
    .callout.large.header .lead {
    font-size: 95%;
  }

  .article {
    padding:1rem 1.5rem 2rem;
  }
}

@media screen and (min-width: 640px) {
  .photo-area {
    height:400px;
  }

  .article {
    padding:2rem 1.5rem 0;
  }
}


/*////////////////////////////////////////////////////

  フォント

////////////////////////////////////////////////////*/

h3 {
  font-size:1.2rem;

  &.name{
    font-size: 1rem;
    margin:1rem 0 2rem;
  }
}


/*////////////////////////////////////////////////////

  トップページ

////////////////////////////////////////////////////*/

.lead {
  margin-top: 30px;
  color: #545454;
}

.font-point {
  margin:0 0 2rem;
}

.callout.large.header {
  padding-bottom: 4rem;
  .button {
    //box-shadow: rgba(90, 89, 89, 0.39) 4px 2px 2px -1px;
  }
  border:none;
  margin:auto;

  &.header-inner {
    max-width: 55rem;
    padding: 1rem 2rem 2rem;
  }
}


ul.sns-column {
  display:flex;
  list-style-type:none;
  justify-content:center;
  li {
    font-size: 1.3rem;
    margin-left: 20px;
    background-color: $primary-color;
    border-radius:100%;
    width:30px;height:30px;
    text-align:center;
      a {
        color: #fff;
         &:hover {
           color: #fff;
         }
      }
     &:first-child {
      margin-left: 0;
    }
  }
}

ul.flex-button {
  display:flex;
  list-style-type:none;
  justify-content:center;
  margin:0;padding:0;
  li {
    margin:0 1rem;
    img {
      min-width:135px;
      min-height:40px;
    }
    .web-button {
      color:$white;
      text-align:center;

      width:135px;
      height:40px;
      background-color: #000;
      display:inline-block;
      border-radius:6px;
      padding-top:8px;
      font-weight:500;
    }
  }

}

.mockup-image {
  margin:1rem 0;
  img {
    width:100%;
    max-width:400px;
  }
}

.bg-colored {
  color: #fff;

  &.first-color {
    background-color: #78909C;

    a {
      color: #fff;
      text-decoration: underline;
    }
  }

  &.second-color {
    color: #3E2723;
    background-color: #EFEBE9;
  }

  &.third-color {
    background-color: #A1887F;
  }

  &.footer-color {
    margin-top:3rem;
    padding:2rem;
    background-color: #000000;
  }
}

.article {

  h3 {

    margin:2rem 0 2rem;
  }
  p {
    font-size:1rem;
    margin-bottom:10px;
  }

  .flex-article{
    display:flex;

    .image-box {
      max-width:40%;
    }
  }

}


/*////////////////////////////////////////////////////

  サブページ

////////////////////////////////////////////////////*/

.sub-page {
  header {
    padding:0.8rem 1rem 0.5rem;
    img {
      width:150px;
    }
    border-bottom:1px solid #c0c0c0;
  }

  .sub {
    margin:auto;

    h2 {
      text-align:center;
      margin:2rem 0 1rem;
    }

    p,dd,dt {
      font-size:0.8rem;
    }

    dt {
      margin-top:1rem;
    }
  }
}